<div class="modal d-block" tabindex="-1" role="dialog">
  <div class="modal-container">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
          <button (click)='hanlerClouseModal()'class="btn-close-modal-inside fas fa-times pos-absolute text-color-black"></button>
          <div class="current-image-info d-flex">
            <div class="author-info d-flex align-items-center ">
              <a class="author-photo flex-shrink-0 overflow-hidden">
                <img alt="" [src]="imageSingle?.owner.avatar">
              </a>
              <div class="d-flex flex-column overflow-hidden">
                <a class="author-name text-overflow-ellipsis">{{imageSingle?.owner.full_name}}</a>
                <span class="author-country text-color-gray text-overflow-ellipsis">{{imageSingle?.owner.city}}</span>
              </div>
            </div>
            <div  class="photo-stats d-flex justify-content-center cur-default">
              <div class="stats-views stats-item active d-flex flex-column align-items-center justify-content-end transition">
                <i class="fa-icon fas fa-eye"></i>
                <span class="stats-count">{{imageSingle?.views.length}}</span>
                <span class="stats-desc text-uppercase">Views</span>
              </div>
              <div class="stats-likes stats-item d-flex flex-column align-items-center justify-content-end transition">
                <i class="fa-icon fas fa-thumbs-up"></i>
                <span class="stats-count">{{imageSingle?.likes.length}}</span>
                <span class="stats-desc text-uppercase">Likes</span>
              </div>
              <div class="stats-glories stats-item d-flex flex-column align-items-center justify-content-end transition">
                <i class="fa-icon fas fa-medal"></i>
                <span class="stats-count">{{imageSingle?.glories.length}}</span>
                <span class="stats-desc text-uppercase">Glories</span>
              </div>
            </div>
          </div>
          <!-- /.current-image-info -->
          <div class="current-image mt-3">
              <img [src]="imageSingle?.url" alt="" data-id-modal-img=''>
          </div>
          <!-- /.current-image -->
          <form  #addInfo='ngForm' class="mt-3">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Title</label>
                <input *ngIf='inputActive || imageSingle?.title === ""' [(ngModel)]='info.title' name='title' type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="Title">
                <p *ngIf='!inputActive && imageSingle?.title !== ""' [textContent]='imageSingle?.title'></p>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Description</label>
                <input *ngIf='inputActive || imageSingle?.description === ""' [(ngModel)]='info.description' name='description' type="text" class="form-control form-control-sm" id="inputPassword4" placeholder="Description">
                <p *ngIf='!inputActive && imageSingle?.description !== ""'>{{imageSingle?.description}}</p>
              </div>
            </div>
            <button (click)='onSubmitHandler(imageSingle)' *ngIf='inputActive' class='btn btn-sm btn-warning'>Submit</button>
            <button (click)='onChangeHandler(imageSingle)' *ngIf='!inputActive' class='btn btn-sm btn-info'>Change</button>
          </form>
    
          <div class="current-image-comments-wrap mt-3">
            <ul>
              <li class='comment_single d-flex' *ngFor='let singleComment of imageSingle?.comments'>
                {{singleComment.text}}
                <div class="remove-wrap d-flex" (click) = 'handlerDeleteComment(singleComment?._id, imageSingle._id)'>
                    <i class="fas fa-trash-alt ml-auto trash"></i>
                </div>
              </li>
            </ul>
          </div>
          <!-- /.current-image-comments-wrap -->
          <div class="add-comment-form mt-4">
            <form (ngSubmit)='addCommentHandler(statusForm, imageSingle._id)' #statusForm='ngForm' class='form-comment'>
                <input  [(ngModel)]='comment' name='comment' type="text" name="comment" id="comment" placeholder="Write a comment" class="form-control form-control-sm comment">
                <button type="submit" class="btn btn-primary btn-sm mt-3 check">Submit</button>
                <button type="reset" class="btn btn-warning btn-sm mt-3 invisible chancel">Chancel</button>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
    
